*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 80%;
    /* height: 80px; */
    margin: 25px auto; 
    margin-top: 2px;  
    /* background-color :purple; */
}
.logo > img{
    width: 15%;
    margin-bottom: 20px;
}
.nav li{
    display: inline-block;
    color: grey;
    font-size: 20px;
}
.c-1{
    width: 80%;
    height: 300px;
    margin: 15px auto;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(83%);
    border-radius: 10px;
}

.banner{
    position: relative;
}    
.c-1-txt{
    color: white;
    position: absolute;
    width: 42%;
    left: 15%;
    bottom: 10%;
}
.c-1-big{
    font-size: 25px;
}
.c-1-small{
    font-size: 15px;
}
.c-2{
    width: 80%;
    height: 300px;
    margin: 15px auto;
   
}
.clearfix{
    content: "";
    display: table;
    clear: both;
}
#top-2{
    width: 100%;
    /* height: 60px; */
    background-color: white;
}
.big{
    font-size: 35px;
}
.small.grey{
    color: grey;
    font-size: 15px;
}
.grey{
    color: grey;
}
div > img{
    width: 100%;
    filter: brightness(90%);
}

.column{
    background-color: white;
    /* margin-top: 10px; */
    width:20%;
    margin: 20px 0 ;
}
.column.one{
    /* height: 220px; */
    
    float: left;
}
.column.two{
    
    width: calc(60% - 20px);
    /* height: 220px; */
    margin-left:10px ;
    margin-right:  10px;
    float: left;
}
.column.three{
    /* height: 220px; */
    float: left;
}
#footer{
    /* background-color: violet; */
    margin:15px auto;
    width: 80%;
    height: 30px;

}
#footer{
    text-align: center;
}
.red{
    color: red;
}